<div id="<%= dom_id beginning %>">
  <p>
    <strong>Name:</strong>
    <%= beginning.name %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= beginning.correo %>
  </p>

  <p>
    <strong>Descripcion de tu perfil hobbies y pasiones:</strong>
    <%= beginning.descripcion_de_tu_perfil_hobbies_y_pasiones %>
  </p>

  <p>
    <strong>Ultimos dos trabajos o estudios:</strong>
    <%= beginning.ultimos_dos_trabajos_o_estudios %>
  </p>

</div>
